@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
  .calendar {
    width: 80%;
  }
  .month {
    padding: 2rem 0rem !important;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 13.5% !important;
  }
  .days li .active {
    padding: 0.125rem;
  }
  .calendar {
    width: 95% !important;
  }
  .month ul.month-menu li,
  .month ul.month-menu li button,
  .month ul.month-menu li button i {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
  .calendar {
    width: 98%;
  }
}
