* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0.8rem 1.2rem;
  margin: 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}
